{% extends 'base.html.twig' %}

{% block title %}Hello CoteamerController!{% endblock %}

{% block MainContent %}
<!-- ===========================
=====>> Page Hero <<===== -->
<section id="page-hero" class="about-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title text-center">
                    <h1>FITHUB <span>shop</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =====>> End Page Hero <<=====
=========================== -->


<!-- ===========================
=====>> Shop <<===== -->
<section id="shop-area" class="shop-gallery pt-100 pb-150">
    <div class="container">
        <div class="row">
            <!-- Shop Item -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="shop-box effect-item pt-50">
                    <div class="shop-item position-relative content-overlay">
                        <img src="assets/img/shop/1.jpg" alt="">
                        <div class="content-details fadeIn-top">
                            <ul>
                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                <li><a href="https://www.california-gym.com/" title="CheckWebSite"><i class="fas fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="shop-title text-center">
                        <h3><a href="https://www.california-gym.com/">California Gym</a></h3>
                        <p>PromoCode:CFH2022</p>
                    </div>
                </div>
            </div>
            <!-- Shop Item -->
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="shop-box effect-item pt-50">
                    <div class="shop-item position-relative content-overlay">
                        <img src="assets/img/shop/2.jpg" alt="">
                        <div class="content-details fadeIn-top">
                            <ul>
                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                <li><a href="https://www.facebook.com/GymBoxTn/" title="CheckWebSite"><i class="fas fa-search"></i></a></li>
                            </ul>
                    </div>
                    <div class="shop-title text-center">
                        <h3><a href="https://www.facebook.com/GymBoxTn/">Gymbox</a></h3>
                        <p>PromoCode:GFH2022</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>
</section>
<!-- =====>> End Shop <<=====
=========================== -->

<!-- ===========================
{% endblock %}
